*
!*/
!/*.md
!/.env.example
!/.hadolint.yaml
!/.github/**
!/.gitignore
!/build.yaml
!/composer.*
!/config/**
!/Dockerfile
!/docker-compose*.yaml
!/justfile
!/phpcs.xml.dist
!/phpstan.neon
!/phpunit.xml.dist
!/run
!/tools/**
!/web/modules/custom/**
!/web/sites/default/settings.php
/.idea/workspace.xml
/vendor/
