*
!*/
!/*.md
!/.docker.env.example
!/.github/**
!/.gitignore
!/.idea/**
!/.php-version
!/composer.*
!/config/**
!/docker-compose*.yaml
!/Makefile
!/phpcs.xml.dist
!/phpstan.neon
!/phpunit.xml.dist
!/tools/**
!/web/modules/custom/**
!/web/sites/default/settings.php
/.idea/workspace.xml
/vendor/
